
.fixed-top {
    display: flex;
    top: 0;
    right: 0;
    left: 0;
    z-index:1030;
    background-color: black;
}
.navbar-nav {
    display: flex;
    align-items: stretch;
    padding: 0.5rem 1rem 0.5rem 1rem;

}
.navbar-brand {
    width:90px;
}
.navbar-brand img {
    height:90px;
    float: left;
    margin-right: 7px;
}
ul {
    list-style-type: none;
}
a {
    color: #00ac33;
}
body{
    background-color: rgb(0, 0, 0);
}
.navbar-toggler {
    Background-color: rgb(87, 179, 255);
}

#wrapper{
    width:100%;
    resize: both;
    background-color: rgb(0, 0, 0);
    margin: 20px auto;
    padding: 20px;
}
#newsletter{
    min-height: 250px;
    width: 200px;
    float: left;
    background-color: blue;
}
#main_content{
    min-height: 20%;
    width: 50%;
    justify-content: center;
    background-color: red;
    margin-left: 220px;
    margin-right: 10px;
    padding: 5px;
}